Answer 1

In [1]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Answer 2

In [2]:
def factorial(x):
    if x == 0:
        return 1
    return x * factorial(x - 1)

x=int(input())
print(factorial(x))

5
120

Answer 3

In [3]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print(d)

2
{1: 1, 2: 4}

Answer 4

In [4]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

1,3,89,4
['1', '3', '89', '4']
('1', '3', '89', '4')

Answer 5

In [5]:
class InputOutputString(object):
    def __init__(self):
        self.s = " "

    def getString(self):
        self.s = input()
    
    def printString(self):
        print(self.s.upper())

strObj = InputOutputString()
strObj.getString()
strObj.printString()

hello
HELLO

Answer 6

In [6]:
import math
c=50
h=30
value = []
i=[x for x in input().split(',')]
for d in i:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print(','.join(value))

100,150,180
18,22,24

Answer 7

In [7]:
inp = input()
dim=[int(x) for x in inp.split(',')]
row=dim[0]
col=dim[1]
points = [[0 for col in range(col)] for row in range(row)]

for row1 in range(row):
    for col1 in range(col):
        points[row1][col1]= row1*col1

print(points)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Answer 8

In [8]:
i=[x for x in input().split(',')]
i.sort()
print(','.join(i))

1,54,2,67,7
1,2,54,67,7

Answer 9

In [9]:
inp = []
while True:
    s = input()
    if s:
        inp.append(s.upper())
    else:
        break;

for sentence in inp:
    print(sentence)

hello world
practice make man perfect
hi there

HELLO WORLD
PRACTICE MAKE MAN PERFECT
HI THERE

Answer 10

In [10]:
inp = input()
words = [word for word in inp.split(" ")]
print(" ".join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Answer 11

In [11]:
value = []
i=[x for x in input().split(',')]
for p in i:
    inp = int(p, 2)
    if not inp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

Answer 12

In [12]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

Answer 13

In [13]:
s = input()
d={"digits":0, "letters":0}
for c in s:
    if c.isdigit():
        d["digits"]+=1
    elif c.isalpha():
        d["letters"]+=1
    else:
        pass
print("letters", d["letters"],"digits", d["digits"])

hello world! 123
letters 10 digits 3

Answer 14

In [2]:
s = input()
d={"up":0, "low":0}
for c in s:
    if c.isupper():
        d["up"]+=1
    elif c.islower():
        d["low"]+=1
    else:
        pass
print("up", d["up"],"low", d["low"])

Hello WOrld
up 3 low 7

Answer 15

In [15]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )

print(n1+n2+n3+n4)

9
11106

Answer 16

In [16]:
values = input()
num = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(num))

1,2,3,4,5,6,7,8,9
1,3,5,7,9

Answer 17

In [17]:
amt = 0

while True:
    s = input()
    if not s:
        break
    values = s.split(" ")
    transaction = values[0]
    amount = int(values[1])
    if transaction=="D":
        amt+=amount
    elif transaction=="W":
        amt-=amount
    else:
        pass
    
print(amt)

D 300 D 300 W 200 D 100

300

Answer 18

In [18]:
import re
value = []
i=[x for x in input().split(',')]
for p in i:
    if len(p)<6 or len(p)>12:
        continue
    else:
        pass
    if not re.search("[a-z]",p):
        continue
    elif not re.search("[0-9]",p):
        continue
    elif not re.search("[A-Z]",p):
        continue
    elif not re.search("[$#@]",p):
        continue
    elif re.search("\s",p):
        continue
    else:
        pass
    value.append(p)
print(",".join(value))

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

Answer 19

In [19]:
from operator import itemgetter
l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2)))

Tom,19,80  John,20,90  Jony,17,91  Jony,17,93  Json,21,85

[('Tom', '19', '80  John', '20', '90  Jony', '17', '91  Jony', '17', '93  Json', '21', '85')]

Answer 23

In [22]:
import math
values = int(input())
print("Square Of " , values, " = ",pow(values,2) )

4
Square Of  4  =  16

Answer 24

In [2]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def square(num):
    "Assignement on python"
    return num ** 2

print(square(2))
print(square.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

4
Assignement on python

Answer 25

In [23]:
class Person:
    name = "Person"
    def __init__(self, name = None):
        self.name = name

Riyuksh = Person("Riyuksh")
print("%s name is %s" % (Person.name, Riyuksh.name))

Shoda = Person()
Shoda.name = "Shoda"
print("%s name is %s" % (Person.name, Shoda.name))

Person name is Riyuksh
Person name is Shoda

Answer 26

In [24]:
def sum(number1, number2):
	return number1+number2

print(sum(1,2))

3

Answer 27`

In [25]:
def number(n):
    print(str(n))

number(3)

3

Answer 28

In [26]:
def Number(s1,s2):
    print(int(s1)+int(s2))

Number("7","12")

19

Answer 29

In [27]:
def printValue(s1,s2):
    print(s1+s2)

printValue("7","14")

714

Answer 30

In [28]:
def Number(s1,s2):
    len1 = len(s1)
    len2 = len(s2)
    if len1>len2:
        print(s1)
    elif len2>len1:
        print(s2)
    else:
        print(s1)
        print(s2)
        
Number("one","seven")

seven

Answer 31

In [29]:
def dictionary():
    d=dict()
    for i in range(1,21):
        d[i]=i**2
    print(d)

dictionary()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Answer 32

In [30]:
def dictionary():
    d=dict()
    for i in range(1,21):
        d[i]=i**2
    for (x,v) in d.items():	
        print(x)   
dictionary()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Answer 33

In [31]:
def Number():
    l=list()
    for i in range(1,21):
        l.append(i**2)
    print(l)

Number()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

Answer 34

In [32]:
def Number():
    l=list()
    for i in range(1,21):
        l.append(i**2)
    print(l[:5])

Number()

[1, 4, 9, 16, 25]

Answer 35

In [33]:
def Number():
    l=list()
    for i in range(1,21):
        l.append(i**2)
    print(l[-5:])

Number()

[256, 289, 324, 361, 400]

Answer 36

In [ ]:
def Number():
    l=list()
    for i in range(1,21):
        l.append(i**2)
    print (l[5:])

Number()

Answer 37

In [34]:
def Number():
    l=list()
    for i in range(1,21):
        l.append(i**2)
    print(tuple(l))
        
Number()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

Answer 38

In [35]:
t=(1,2,3,4,5,6,7,8,9,10)
t1=t[:5]
t2=t[5:]
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Answer 41

In [36]:
l = [1,2,3,4,5,6,7,8,9,10]
squared = map(lambda x: x**2, l)
print(squared)

<map object at 0x7fdea0384d30>

Answer 42

In [37]:
l = [1,2,3,4,5,6,7,8,9,10]
evennum = map(lambda x: x**2, filter(lambda x: x%2==0, l))
print(evennum)

<map object at 0x7fdea0342240>

Answer 43

In [38]:
evenNum = filter(lambda x: x%2==0, range(1,21))
print(evenNum)

<filter object at 0x7fdea0371048>

Answer 44

In [39]:
squaredNum = map(lambda x: x**2, range(1,21))
print(squaredNum)

<map object at 0x7fdea0342128>

Answer 45

In [40]:
class American(object):
    @staticmethod
    def printNationality():
        print("America")

person = American()
person.printNationality()
American.printNationality()

America
America

Answer 46

In [41]:
class American(object):
    pass

class NewYorker(American):
    pass

person_american = American()
person_NewYorker = NewYorker()
print(person_american)
print(person_NewYorker)

<__main__.American object at 0x7fdea03427b8>
<__main__.NewYorker object at 0x7fdea0342780>

Answer 47

In [42]:
class Circle(object):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return self.radius**2*3.14

AreaCircle = Circle(2)
print (AreaCircle.area())

12.56

Answer 48

In [43]:
class Rectangle(object):
    def __init__(self, length, width):
        self.length = length
        self.width  = width

    def area(self):
        return self.length*self.width

areaRectangle = Rectangle(2,10)
print(areaRectangle.area())

20

Answer 49

In [44]:
class Shape(object):
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self, length):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length

areaSquare= Square(3)
print(areaSquare.area())

9

Answer 50

In [45]:
raise RuntimeError('INVALID')

RuntimeError: INVALID

Answer 51

In [46]:
def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print("Divided By Zero, INVALID")
except Exception as err:
    print('Exception Found')
finally:
    print('Caught')

Divided By Zero, INVALID
Caught

Answer 52

In [9]:
class MyError(Exception):
    "Error Occured"
    
    def __init__(self, msg):
        self.msg = msg

error = MyError("INVALID")

Answer 53

In [49]:
import re
emailAddress = input()
pat2 = "(\w+)@((\w+\.)+(com))"
r2 = re.match(pat2,emailAddress)
print(r2.group(1))

john@gmail.com
john

Answer 54

In [50]:
import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(2))

john@gmail.com
gmail

Answer 55

In [51]:
import re
s = input()
print(re.findall("\d+",s))

2 cats and 3 dogs
['2', '3']

Answer 56

In [52]:
unicodeString = u"hello world"
print(unicodeString)

hello world

Answer 57

In [ ]:
s = input()
u = unicodedata( s ,"utf-8")
print(u)

Answer 58

In [4]:
# -*- coding: utf-8 -*-
#----------------------------------------#

Answer 59

In [5]:
n=int(input())
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

5
3.5500000000000003

Answer 60

In [6]:
def f(n):
    if n==0:
        return 0
    else:
        return f(n-1)+100

n=int(input())
print(f(n))

5
500

Answer 61

In [7]:
def f(n):
    if n == 0: 
        return 0
    elif n == 1: 
        return 1
    else: 
        return f(n-1)+f(n-2)

n=int(input())
print(f(n))

7
13

Answer 62

In [8]:
def f(n):
    if n == 0: 
        return 0
    elif n == 1: 
        return 1
    else: 
        return f(n-1)+f(n-2)

n=int(input())
values = [str(f(x)) for x in range(0, n+1)]
print(",".join(values))

7
0,1,1,2,3,5,8,13

Answer 63

In [9]:
def Even(n):
    i=0
    while i<=n:
        if i%2==0:
            yield i
        i+=1


n=int(input())
values = []
for i in Even(n):
    values.append(str(i))

print(",".join(values))

10
0,2,4,6,8,10

Answer 64

In [10]:
def Number(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i

n=int(input())
values = []
for i in Number(n):
    values.append(str(i))

print(",".join(values))

100
0,35,70

Answer 65

In [13]:
l = [2,4,6,8]
for i in l:
    assert i%2==0
print("Verifed")

Verifed

Answer 66

In [14]:
expression = input()
print(eval(expression))

35+3
38

Answer 67

In [15]:
import math
def BinarySearch(l, element):
    low = 0
    high = len(l)-1
    i = -1
    while high>=low and i==-1:
        mid = int(math.floor((high+low)/2.0))
        if l[mid]==element:
            i = mid
        elif l[mid]>element:
            high = mid-1
        else:
            low = mid+1

    return i

l=[11,34,53,2433,1,]
print(BinarySearch(l,53))

2

Answer 68

In [16]:
import random

print(random.random()*100)

77.20828312853033

Answer 69

In [17]:
import random
print(random.random()*95)

62.330023931094026

Answer 70

In [18]:
import random
print(random.choice([i for i in range(11) if i%2==0]))

4

Answer 71

In [19]:
import random
print(random.choice([i for i in range(201) if i%5==0 and i%7==0]))

175

Answer 72

In [20]:
import random
print(random.sample(range(100,200), 5))

[173, 148, 176, 177, 100]

Answer 73

In [21]:
import random
print(random.sample([i for i in range(100,201) if i%2==0], 5))

[178, 196, 112, 190, 172]

Answer 74

In [22]:
import random
print(random.sample([i for i in range(100,201) if i%2==0], 5))

[164, 118, 102, 150, 138]

Answer 75

In [23]:
import random
print(random.randrange(7,16))

7

Answer 77

In [25]:
from timeit import Timer
t = Timer("for i in range(100):1+1")
print(t.timeit())

1.7261434840038419

Answer 78

In [26]:
from random import shuffle
l = [3,6,7,8]
shuffle(l)
print(l)

[7, 3, 8, 6]

Answer 79

In [1]:
a=["I", "You"]
b=["Play", "Love"]
c=["Hockey","Football"]
for i in range(len(a)):
    for j in range(len(b)):
        for k in range(len(c)):
            a = "%s %s %s." % (a[i], b[j], c[k])
            print(a)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
  Play Hockey.
  Play Football.
  Love Hockey.
  Love Football.

Answer 80

In [28]:
l = [5,6,77,45,22,12,24]
l = [x for x in l if x%2!=0]
print(l)

[5, 77, 45]

Answer 81

In [29]:
l = [12,24,35,70,88,120,155]
l = [x for x in l if x%5!=0 and x%7!=0]
print(l)

[12, 24, 88]

Answer 82

In [30]:
l = [12,24,35,70,88,120,155]
l = [x for (i,x) in enumerate(l) if i%2!=0]
print(l)

[24, 70, 120]

Answer 86

In [33]:
l = [12,24,35,24,88,120,155]
l = [x for x in l if x!=24]
print(l)

[12, 35, 88, 120, 155]

Answer 87

In [34]:
s1=set([1,3,6,78,35,55])
s2=set([12,24,35,24,88,120,155])
s1 &= s2
l=list(s1)
print(l)

[35]

Answer 89

In [36]:
class Person(object):
    def getGender( self ):
        return "Unknown"

class Male( Person ):
    def getGender( self ):
        return "Male"

class Female( Person ):
    def getGender( self ):
        return "Female"

male = Male()
female= Female()
print(male.getGender())
print(female.getGender())

Male
Female

Answer 92

In [39]:
s=input()
s = s[::2]
print(s)

H1e2l3l4o5w6o7r8l9d
Helloworld

Answer 93

In [40]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]